# File konfigurasi untuk menghubungkan dengan Firebase Project mandiri Anda
# Salin file ini menjadi '.env' di komputer Anda jika dijalankan lokal, atau isi Variabel Lingkungan ini pada AI Studio
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
